.root{
-fx-background-color: #d4896a;
    -fx-padding: 20px;
    -fx-border-radius: 5px;
}
.content{
-fx-background-color: transparent;
    -fx-border-color: #503c52;
    -fx-border-width: 2px;
    -fx-text-fill: #503c52;
}

/* Style for the popup container */
.container {
    -fx-background-color: #d4896a;
    -fx-padding: 20px;
    -fx-border-radius: 5px;
}

/* Style for the text fields in the popup */
.container .content {
    -fx-background-color: transparent;
    -fx-border-color: #503c52;
    -fx-border-width: 2px;
    -fx-text-fill: #503c52;
}
.heading{
    -fx-font-size: 3em;
    -fx-font-family: Georgia;
    -fx-background-color: transparent;
    -fx-text-fill: #503c52;
}

.button{
    -fx-background-color: #f2e6e3;
    -fx-font-size: 1.5em;
    -fx-padding: 10 20;
}
.button:hover{
    -fx-text-fill: #f2e6e3;
    -fx-background-color: #ffbb6c;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 10, 0, 0, 0);
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;

}

/* Style for the text fields in the popup */
.edit-popup .text-field{
    -fx-background-color: #f2e6e3;
    -fx-border-color: #503c52;
    -fx-border-width: 2px;
    -fx-border-radius: 3;
    -fx-text-fill: #503c52;
    -fx-font-size: 1.25em;
 /* -fx-padding: 10 20;*/
}

.edit-popup .button{
-fx-padding: 5 10}
