.root {
    -fx-background-color: #d4896a;
    -fx-padding: 20px;
    -fx-border-radius: 5px;
}

/* Style for the content in the popup */
.content {
    -fx-background-color: transparent;
    -fx-border-color: #503c52;
    -fx-border-width: 2px;
    -fx-text-fill: #503c52;
    -fx-font-size: 1.5em;
}

/* Style for the popup container */
.container {
    -fx-background-color: #d4896a;
    -fx-padding: 20px;
    -fx-border-radius: 5px;
}

/* Style for the text fields in the popup */
.container .content {
    -fx-background-color: transparent;
    -fx-border-color: #503c52;
    -fx-border-width: 2px;
    -fx-text-fill: #503c52;
}

/*
The styles for the heading in the application.

 */
.heading {
    -fx-font-size: 3em;
    -fx-font-family: Georgia;
    -fx-font-weight: bold;
    -fx-background-color: transparent;
    -fx-text-fill: #503c52;
}

/* Style for the text fields in the popup */
.edit-popup .text-field {
    -fx-background-color: #f2e6e3;
    -fx-border-color: #503c52;
    -fx-border-width: 2px;
    -fx-border-radius: 3;
    -fx-text-fill: #503c52;
    -fx-font-size: 1.25em;
    /* -fx-padding: 10 20;*/
}

/*
The styles for the buttons in the popup
 */
.edit-popup .button {
    -fx-padding: 5 10
}

/*
The styles for the user manual title

 */
.user-manual-title {
    -fx-font-size: 2em;
    -fx-font-family: Georgia;
    -fx-background-color: transparent;
    -fx-text-fill: #503c52;
}
