.root{
    -fx-background-color: #262335;
}
.button{
    -fx-background-color: #f2e6e3;
    -fx-font-size: 1.3em;
    -fx-padding: 10;
}
.button:focused{
-fx-border-color: #9f6c66 ;
    -fx-border-width: 3px ;
    -fx-text-fill: #9f6c66;
    -fx-border-radius: 5px;
}
.button:hover{
    -fx-text-fill: #f2e6e3;
    -fx-background-color: #ffbb6c;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 10, 0, 0, 0);
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;

}
.button-selected{
    -fx-text-fill: #f2e6e3;
    -fx-background-color: #ffbb6c;
}
StackPane {
    -fx-background-color: white;
    -fx-border-color: #CEA4A0FF;
    -fx-border-width: 1px;
    -fx-border-style: solid;
}
.title{
    -fx-font-size: 4em;
    -fx-font-family: Georgia;
    -fx-font-weight: bold;
    -fx-background-color: transparent;
    -fx-text-fill: #d4896a;
}
.vbox{
    -fx-spacing: 10;
    -fx-alignment: center;
    -fx-background-color: green;
}
.section-heading{
    -fx-background-color: #b97d6d;
    -fx-text-fill: #f4f0eb;
    -fx-font-size: 1.3em;
    -fx-padding: 10 20;
    -fx-border-radius: 0;
    -fx-background-radius: 5px;
    -fx-border-color: white;

    -fx-font-family: "Arial", sans-serif;
}
.my-combo-box {
    -fx-font-size: 18px;
    -fx-font-family: "Arial";
    -fx-background-color: #f4f0eb;
    -fx-border-radius: 5;
    -fx-padding: 5;

}

.my-combo-box .list-cell {
    -fx-padding: 5px;
}
.my-combo-box .arrow{
    -fx-background-color: #ffbb6c;

}

.my-combo-box .cell:hover {
    -fx-background-color: #ffbb6c;
}
/*
.button {
    -fx-background-color: #b97d6d;
    -fx-text-fill: #f4f0eb;
    -fx-font-size: 14px;
    -fx-padding: 10 20;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-border-color: transparent;
    -fx-font-family: "Arial", sans-serif;
}

.button:hover {
    -fx-background-color: #a76b5e;
}

.button:pressed {
    -fx-background-color: #8c5c50;
}
 */